.pokemon-list-wrapper{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.controls button{
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-left: .5rem;
    font-weight: 600;
    border: none;
}
.controls :nth-child(1){
    background: red;
}
.controls :nth-child(2){
    background: green;
}