.pokemon {
    margin-top: 2rem;
    flex-basis: 20%;
    /* height:200px; */
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pokemon-name {
    font-size: larger;
    margin-top: 1.5rem;
    letter-spacing: 0.5rem;
}
.pokemon-image{
    margin-top: 1.5rem;
    padding-top: .5rem;
    height: 180px;
    max-height: 400px;
}

.pokemon:hover {
    background-color: beige;
}