.search-wrapper{
    margin: 0 auto;
}
#pokemon-name-search {
    font-size: 32px;
    user-select: none;
    margin-top: 2rem;
    width: 600px;
    padding: 1.5rem;
    border: 3px solid rgb(8, 0, 255);
    outline: none;
}
#pokemon-name-search::placeholder {
    color: green;
    font-size: 24px;
  }
