.outer-pokedex{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #pokedex-heading {
    /* margin:  auto; */
    text-align: center;
    letter-spacing: 5px;
    /* border-bottom: 3px solid black ; */
  }
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}